{
  "presets": [
    ["env", { "modules": false }],
    "latest"
  ],
  "plugins": [
    "transform-runtime",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-default"
      }
    ]]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "latest"],
      "plugins": [ "istanbul" ]
    }
  }
}
