/node_modules
/public/storage
/public/hot
/public/index.html
/public/css
/public/js
/public/fonts
/storage/*.key
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
.DS_Store
_ide_helper.php
.phpstorm.meta.php
